
:root.theme-dark {
--bg-image: url(../images/cover-image-dark.png);--bg-color: #000028;
--nav-color: #ff0070;
--accent-color: #ff0070;
--logo-color: #DB00FF;
--main-heading-color: #000028;
--section-color: #ff0070;
--main-text-color: #F1B2CE;
--decorated-dark: 1;    
--link-color: #F1B2CE;
--decor-color: #ff0070;
--button-color: #ff0070;
--menu-button-hover: rgba(255, 0, 112, 0.4);
--menu-button-focus-visible:#FF0070;
--decor-color-—Åfere: #FF0070;
--main-card-title: #ff0070;
}

