/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
    --bg-color: #ffeef6;
    --nav-color: #353430;
    --accent-color: #FF8DCB;
    --logo-color: #FFC2E6;
    --main-heading-color: #353430;
    --main-text-color: #353430;
    --decorated-dark: 0;
    --button-color: #353430;
    --decor-color: transparent;
    --decor-color-сfere: transparent;
    --menu-button-hover: rgba(50, 49, 45, 0.4);
    --menu-button-focus-visible:#353430;
}


@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
    --bg-color: #ffeef6;
    --nav-color: #353430;
    --accent-color: #FF8DCB;
    --logo-color: #FFC2E6;
    --main-heading-color: #353430;
    --main-text-color: #353430;
    --decorated-dark: 0;
    --decor-color: transparent;
    --button-color: #353430;
    --menu-button-hover: rgba(50, 49, 45, 0.4);
    --menu-button-focus-visible:#353430;
    --decor-color-сfere: transparent;
    --main-card-title: #353430;
  }
}