body {
    margin: 0;
}

.page {
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--bg-color);
    font-family: var(--font-family), monospace;
}

.decorated-zone {
    position: relative;
}

.header {
    /*Шапка 375px*/
    height: 100vh;
    min-height: 668px;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-block-end: 40px;
}

.header__rec {
    /*Декор.элемент REC 375px*/
    position: absolute;
    color: var(--decor-color);
    font-size: var(--main-text-size);
    line-height: var(--main-line-height);
    text-transform: uppercase;
    inset-inline-end: calc(var(--main-gap) + 28px);
    inset-block-start: calc(var(--main-gap) + 2px);
}

.header__rec::after {
    /*Декор.элемент Точка 375px*/
    content: "";
    position: absolute;
    inline-size: 10px;
    block-size: 10px;
    margin: -5px -20px 0 0;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--nav-color);
    background-color: var(--nav-color);
    inset-inline-end: 0;
    inset-block-start: 50%;
}

.decorated-zone::before {
    /*Декор.элемент рамка сверху 375px*/
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-inline-end: 1px solid var(--nav-color);
    border-block-start: 1px solid var(--nav-color);
    inset-inline-end: var(--main-gap);
    inset-block-start: var(--main-gap);
}

.decorated-zone::after {
    /*Декор.элемент рамка снизу 375px*/
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-inline-start: 1px solid var(--nav-color);
    border-block-end: 1px solid var(--nav-color);
    inset-inline-start: var(--main-gap);
    inset-block-end: var(--main-gap);
}

.header_title_focus {
    /*Заголовок шапки 375px*/
    font-weight: 700;
    font-size: var(--heder-logo-size);
    line-height: 83%;
    color: var(--logo-color);
    text-shadow: 4px 4px 0 var(--accent-color);
    margin-block: 0;
    margin-inline: 10px;
}

.header-title {
    /*Параграф шапки 375px*/
    white-space: pre-line;
    margin-block-end: 10px;
    margin-block-start: 0;
    margin-inline: 10px;
}

.title-decor {
    /*background заголовков 375px*/
    font-size: var(--main-text-size);
    font-weight: 700;
    line-height: 23.4px;
    background-color: var(--accent-color);
    color: var(--main-heading-color);
}

.header__theme-menu {
    /*Меню 375px*/
    margin-inline: 10px;
}

.header__theme-menu-button {
    /*Меню-кнопки 375px*/
    padding: 0;
    border: none;
    color: var(--button-color);
    background-color: transparent;
    font-size: var(--main-text-size);
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    text-transform: lowercase;
    padding: 1px 1px;
    border: 1px solid transparent;
    min-height: 26px;
    letter-spacing: 2px;
}

.header__theme-menu-item {
    list-style: none;
    letter-spacing: 10px;
}

.header__theme-menu-list {
    /*Меню лист 375px*/
    display: grid;
    gap: 11.5px;
    justify-self: end;
    align-items: end;
    padding-inline: 0;
    grid-template-rows: repeat(3, 1fr);
    margin-block: 10px 0;
    margin-inline: 17px 0;
    min-width: 44px;
    text-align: center;
}

.header__theme-menu-button_active {
    /*Меню состояния 375px*/
    pointer-events: none;
    border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
    /*Меню состояния 375px*/
    border: 1px solid var(--menu-button-hover);
    padding: 1.5px 13px;
    min-height: 26px;
}

.header__theme-menu-button:focus-visible {
    /*Меню состояния 375px*/
    outline: none;
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 1.5px;
}

.content {
    /**/
    display: grid;
    gap: 50px;
}

.content-section {
    display: grid;
    gap: 20px;
    align-items: start;
    justify-content: center;
    margin-inline: 10px;
}

.text-block__title {
    margin-block: 0;
}

.content-section__title {
    /*Заголовок карточек 375px*/
    font-weight: 700;
    font-size: var(--main-text-size);
    line-height: 23.4px;
    margin-block: 0;
    white-space: pre-line;
    color: var(--main-card-title);
}

.text-blocks {
    display: grid;
    gap: 20px;
}

.text-block {
    display: grid;
    gap: var(--main-gap);
    align-items: center;
}

.text-block__content {
    font-weight: 400;
    font-style: normal;
    font-size: var(--main-text-size);
    line-height: 23.4px;
    color: var(--main-text-color);
    margin-block: 0;
}

.text-block__list {
    display: grid;
    gap: var(--main-gap);
    margin-block-end: 10px;
}

.text-block__subtitle {
    font-weight: 400;
    font-style: normal;
    font-size: var(--main-text-size);
    line-height: 23.4px;
    background-color: var(--accent-color);
    color: var(--main-heading-color);
    margin-block: 0;
}

.subtitle_sky {
    margin-block-start: 10px;
}

.link {
    /*Ссылки в тексте 375px*/
    line-height: 100%;
    text-shadow: -2px -2px 0 var(--link-color);
    color: var(--accent-color);
    border: none;
    text-decoration: none;
}

.link:hover {
    /*Ссылки в тексте - состояния 375px*/
    border-bottom: 1px solid currentColor;
}

.link:focus-visible {
    /*Ссылки в тексте - состояния 375px*/
    outline: none;
    border: 1px solid var(--main-text-color);
}

.section-card {
    /*Секция картинок 375px*/
    display: grid;
    gap: var(--main-gap);
    margin-inline: 10px;
    margin-block-start: 38px;
}

.section_images {
    display: grid;
    gap: var(--main-gap);
}

.image_section {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.footer {
    /*Подвал 375px*/
    height: 100vh;
    min-height: 668px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-block-start: 40px;
}

.footer-title {
    /*Подвал Заголовок 375px*/
    font-weight: 700;
    font-size: var(--heder-logo-size);
    line-height: 83%;
    color: var(--logo-color);
    text-shadow: 2px 2px 0 var(--accent-color);
    margin-block: 0;
}

@media (min-width: 768px) {
    /*=========768px*/
    .header {
        /*768px*/
        height: 100vh;
        min-height: 1024px;
        margin-block-end: 60px;
    }

    .header__rec {
        /*768px*/
        inset-inline-end: calc(var(--main-gap) + 36px);
        inset-block-start: calc(var(--main-gap) + 12px);
    }

    .decorated-zone::before {
        inset-inline-end: calc(var(--main-gap) + 8px);
        inset-block-start: calc(var(--main-gap) + 10px);
    }

    .decorated-zone::after {
        inset-inline-start: calc(var(--main-gap) + 10px);
        inset-block-end: calc(var(--main-gap) + 10px);
    }

    .header_title_focus {
        margin-inline: 0;
    }

    .header-title {
        /*768px*/
        margin-inline-end: 20px;
        margin-inline-start: 384px;
        max-width: 364px;
        margin-block-end: 23px;
    }

    .header__theme-menu {
        font-family: var(--font-family);
        margin-inline: 20px;
        margin-block: 10px 0;
    }

    .content {
        /*768px*/
        gap: 80px;
    }

    .content-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin-inline: 20px;
    }

    .text-blocks {
        grid-column: 2;
    }

    .causes .content-section__title {
        grid-column: 1/-1;
        max-width: 236px;
    }

    .causes .text-blocks {
        grid-column: 1 / -1;
    }

    .section-card {
        /*768px*/
        gap: 20px;
        margin-inline: 20px;
        margin-block-start: 68px;
        margin-block-end: 62px;
    }

    .section_images {
        gap: 20px;
        object-fit: cover;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }

    .sunset {
        grid-column: 1/3;
        grid-row: 1;
    }

    .ice-cream {
        grid-column: 3;
        grid-row: 1/3;
        height: 100%;
        width: 100%;
    }

    .tape {
        grid-column: 1;
        grid-row: 2/4;
        height: 100%;
    }

    .street {
        grid-column: 2/4;
        grid-row: 3;
        width: 100%;
    }

    .footer {
        /*Подвал 768px*/
        min-height: 1024px;
    }
}

@media (min-width: 1024px) {
    /*=========1024px*/

    .header {
        /*1024px*/
        height: 100vh;
        min-height: 768px;
        margin-block-end: 60px;
    }

    .header-title {
        /*1024px*/
         display: flex;
  justify-content: end;    /* Горизонтальное центрирование */
  width: 100%;
        margin-inline-end: 20px;
        margin-inline-start: 513px;
        max-width: 497px;
        margin-block-end: 23px;
    }

    .header__theme-menu {
        /*1024px*/
        align-self: start;
        justify-self: center;
        margin-block-start: 15px;
    }

    .header__theme-menu-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .text-blocks {
        grid-column: 2/4;
    }

    .causes .content-section__title {
        grid-column: 1 / -1;
        max-width: 315px;
    }

    .causes .text-blocks {
        /*1024px*/
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: start;
        flex-wrap: wrap;
    }

    .footer {
        /*Подвал 768px*/
        min-height: 768px;
    }
}
