
:root {
--bg-image: url(../images/cover-image-dark.png);
--bg-color: #000028;
--font-family: 'IBM Plex mono', monospace;
--nav-color: #ff0070;
--main-gap: 10px;
--main-line-height: 1.3;
--heder-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
--accent-color: #ff0070;
--logo-color: #DB00FF;
--main-heading-color: #000028;
--section-color: #ff0070;
--main-text-size: 18px;
--decorated-dark: 1;   
--menu-button-hover: rgba(255, 0, 112, 0.4);
--link-color: #ff0070;
--button-color: #ff0070;
--decor-color: #ff0070;
--main-text-color: #F1B2CE;
--main-card-title: #ff0070;
--menu-button-focus-visible:#ff0070;
--text-color: #ffeef6;
--decor-color-—Åfere: #FF0070;
}

@media(min-width: 768px) {
  :root {
    --heder-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }
}

@media(min-width: 1024px) {
  :root {
    --heder-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
  }
}